@import "tailwindcss";

:root {
  --background: hsl(341, 9%, 66%);
  --foreground: hsl(0, 0%, 9%);
  --background-light: hsl(90, 12%, 97%);

  --pink: hsl(329, 40%, 56%);
  --light-pink: hsl(330, 40%, 66%);
  --dark-green: hsl(166, 24%, 23%);
  --gold: hsl(43, 46%, 57%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #67473c;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;
}